.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.classpath
.project
.settings/
bin/

.idea/
*.iml
*.ipr
*.iws
out/

.vscode/

.DS_Store

Thumbs.db

*.log
logs/

*.tmp
*.bak
*.swp
*~

*.jar
*.war
*.ear

**/src/main/generated/
**/src/test/generated_tests/

test-output/
